[submodule "lab_00"]
	path = lab_00
	url = https://github.com/ivan-kolesnik/sp-lab-00
[submodule "lab_01"]
	path = lab_01
	url = https://github.com/ivan-kolesnik/sp-lab-01
[submodule "lab_02"]
	path = lab_02
	url = https://github.com/ivan-kolesnik/sp-lab-02
